<% provide(:title, 'Home') %>
<h1>Welcome to Sample App !!!</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>

<div class="center jumbotron">
  <%= link_to "Регистрация", signup_path, class: "btn btn-lg btn-primary" %>
</div>
